<form
    (ngSubmit)="save()"
    #addressForm="ngForm"
    autocomplete="off"
>
    <md-input-container>
        <input
            mdInput
            [(ngModel)]="newAddress"
            required
            name="newAddress"
        >
        <md-hint
            *ngIf="errorMessage"
            [ngStyle]="{'color': 'red'}"
        >
            {{ errorMessage }}
        </md-hint>
    </md-input-container>

    <button
        md-raised-button
        color="primary"
        type="submit"
        [disabled]="!addressForm.form.valid"
    >
        Save
    </button>
    <button
        md-button
        color="primary"
        (click)="cancel()"
        type="button"
    >
        Cancel
    </button>
</form>
