<div *ngIf="repositoryService.active().length">
    <div class="SectionTitle">Choose a Repository</div>
    <md-card
        *ngFor="let repo of repositoryService.active()"
        class="Repository"
    >
        <a
            [routerLink]="[repo.full_name]"
            class="Repository-link"
        >
            <span class="Repository-login">{{ repo.login }}/</span><span class="Repository-name">{{ repo.name }}</span>
        </a>

        <a
            [routerLink]="[repo.full_name]"
            md-raised-button
            color="primary"
        >
            Continue
        </a>
    </md-card>
</div>
<div *ngIf="!repositoryService.active().length">
    <div class="SectionTitle">Set it up in minutes, use it free forever</div>
    <div class="HowToText">
        <ol class="HowToList">
            <li>Add @fire-bot as a collaborator to any GitHub repository,</li>
            <li>Choose the email address you'd like to send issues to, and</li>
            <li>Share with your team members. You're ready to go.</li>
            <li>Once your repository is properly configured, it will show up here.</li>
        </ol>
    </div>
    <div class="HowToVideo">
        <iframe
            width="720"
            height="440"
            src="https://www.youtube.com/embed/hD7xWRfpHgA?rel=0&showinfo=0"
            frameborder="0"
            controls="0"
            allowfullscreen="0"
        ></iframe>
    </div>
</div>
<router-outlet></router-outlet>
