/* Make tab bar centered, white. */
.mat-tab-nav-bar {
    border-bottom: 0px;
    z-index: 1;
}

.mat-tab-link {
    color: #fff;
    font-size: 18px;
    /* Override material font weight. */
    font-weight: 400;
    height: 55px;
    min-width: 100px;
}

.mat-tab-link.active {
    opacity: 1;
}

/* Our Repository-wide defaults. */
:host /deep/ {
    .ErrorMessage {
        color: red;
        white-space: nowrap;
    }

    .mat-tab-links {
        color: red;
        justify-content: center;
    }

    /* Add white triange over ink bar that slides in on load. */
    @keyframes slideIn {
        from {
            transform: translateY(13px);
        }

        to {
            transform: translateY(0);
        }
    }

    .mat-ink-bar {
        animation: slideIn .2s .3s linear both;
        background-color: transparent;
    }

    md-ink-bar.mat-ink-bar:after {
        content: '';
        bottom: -1px;
        position: absolute;
        left: 50%;
        width: 0;
        height: 0;
        border-left: 12px solid transparent;
        border-right: 12px solid transparent;
        border-bottom: 12px solid #fff;
        transform: translateX(-12px);
    }
}
