<header class="AppHeader">
    <img
        alt="Firebot logo"
        height="100"
        width="100"
        src="../static/images/firebot-logo.png"
    >
    firebot
</header>

<div class="AppContent">
    <div class="AppContent-repoName">
        FundersClub/<strong>FundersClub</strong>
    </div>
    <div>
        <md-tab-group>
            <md-tab label="Send">
                To do
            </md-tab>
            <md-tab label="Team">
                To do
            </md-tab>
            <md-tab label="Settings">
                To do
            </md-tab>
        </md-tab-group>
    </div>
</div>
