.AppHeader {
    .UserLinks {
        animation: fadeIn .1s 1s linear both;
        font-size: 18px;

        > div {
            display: flex;
        }

        a {
            text-decoration: none;
            color: #fff;

            &:hover {
                text-decoration: underline;
            }
        }
    }

    .Username {
        font-weight: 300;
        margin-right: 15px;
    }
}

.AppContent {
    margin: 0 auto;
    padding: 20px 40px 40px 40px;
    width: 720px;
}
