// Create our own material2 theme.
@import '~@angular/material/core/theming/all-theme';
@include mat-core();
$primary: mat-palette($mat-deep-orange);
$accent: mat-palette($mat-amber, A200, A100, A400);
$theme: mat-light-theme($primary, $accent);
@include angular-material-theme($theme);

// App-specific styles.
.AppHeader {
    .UserLinks {
        animation: fadeIn .1s 1s linear both;
        font-size: 18px;

        > div {
            display: flex;
        }

        a {
            text-decoration: none;
            color: #fff;

            &:hover {
                text-decoration: underline;
            }
        }
    }

    .Username {
        font-weight: 300;
        margin-right: 15px;
    }
}

.AppContent {
    margin: 0 auto;
    padding: 20px 40px 40px 40px;
    width: 720px;

    .SectionTitle {
        color: #fff;
        font-size: 36px;
        font-weight: 300;
        margin-bottom: 40px;
        text-align: center;
    }

    .SectionCard {
        padding: 60px 70px 70px;
    }

    .CardIntro {
        text-align: center;
    }

    .CardIntro-title {
        color: map-get($mat-deep-orange, 500);
        font-size: 28px;
        margin-bottom: 30px;
    }

    .CardIntro-subtext {
        font-size: 16px;
        line-height: 1.7;
        margin-bottom: 40px;

        a {
            color: rgba(0, 0, 0, 0.5);
        }
    }
}
