<header class="GlobalHeader AppHeader">
    <div class="GlobalLogo">
        <img
            alt="Fire logo"
            height="50"
            width="50"
            src="../static/images/fire-logo.svg"
        >
        <span class="GlobalLogo-text">fire</span>
    </div>

    <div class="UserLinks">
        <div *ngIf="user?.is_authenticated && user.username">
            <a
                class="Username"
                routerLink="/repos"
            >
                @{{ user.username }}
            </a>
            <a
                href="{{ user.urls.logout }}"
            >
                Logout
            </a>
        </div>
    </div>
</header>

<div class="AppContent">
    <router-outlet></router-outlet>
</div>
