/* Home for global CSS (e.g. resets, normalizations). Not scoped. */
/* Having this outside of Angular means it loads before JS is initialized. That's important. */

body {
    background: #fff;
    font-family: "futura-pt";
    font-weight: 400;
}

/* Hack a bunch of material design overrides */
.mat-card,
.mat-tab-link,
.mat-input-container,
.mat-input-element,
.mat-button,
.mat-fab,
.mat-mini-fab,
.mat-raised-button {
    font-family: "futura-pt" !important;
}

.mat-input-container,
.mat-input-element {
    font-size: 18px !important;
}

.mat-button,
.mat-fab,
.mat-mini-fab,
.mat-raised-button {
    font-size: 16px !important;
}

.GlobalHeader {
    display: flex;
    justify-content: space-between;
    padding: 30px;
    align-items: center;
}

.GlobalLogo {
    display: flex;
    align-items: center;
}

.GlobalLogo-text {
    margin-left: 10px;
    font-size: 34px;
    color: #fff;
}

.GlobalMain {
    background: url(../images/background-gradient.png) no-repeat top center;
    background-size: 100% 300px;
    /* Leave room for footer. */
    min-height: calc(100vh - 60px);
}

.GlobalFooter {
    align-items: center;
    background-color: #2e2e2e;
    display: flex;
    height: 60px;
}

.GlobalFooter-link {
    color: #aaa;
    font-size: 16px;
    text-decoration: none;
}

.GlobalFooter-link + .GlobalFooter-link {
    margin-left: 20px;
}

.GlobalFooter-logo {
    height: 40px;
    width: 40px;
}

/* Convenient to dump this here. */
@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}
