/* Home for global CSS (e.g. resets, normalizations). Not scoped. */
/* Having this outside of Angular means it loads before JS is initialized. That's important. */

body {
    background: #fafafa;
    font-family: "futura-pt", sans-serif;
    font-weight: 400;
}

/* Hack a bunch of material design overrides */
.mat-card,
.mat-tab-link,
.mat-input-container,
.mat-input-element,
.mat-button,
.mat-fab,
.mat-mini-fab,
.mat-raised-button {
    font-family: "futura-pt" !important;
}

.mat-input-container,
.mat-input-element {
    font-size: 18px !important;
}

.mat-button,
.mat-fab,
.mat-mini-fab,
.mat-raised-button {
    font-size: 16px !important;
}

.GlobalHeader {
    display: flex;
    justify-content: space-between;
    padding: 30px 40px;
    align-items: center;
}

.GlobalLogo {
    display: flex;
    align-items: center;
}

.GlobalLogo-text {
    color: #fff;
    font-size: 34px;
    font-weight: 400;
    margin: 0;
}

.GlobalMain {
    position: relative;
    /* Leave room for footer. */
    min-height: calc(100vh - 50px);
}

.GlobalMain:after {
    position: absolute;
    width: 100%;
    height: 500px;
    top: 0;
    /* Gradient is $mat-orange(600) to $mat-deep-orange(600). */
    background:
        url(../images/background-curves.svg) no-repeat scroll top center/cover,
        linear-gradient(60deg, #fb8c00 0%, #f4511e 100%) no-repeat scroll top center/cover;
    background-size: 100%;
    content: '';
    z-index: -2;
}

.GlobalMain:before {
    position: absolute;
    width: 100%;
    height: 50px;
    background-size: 100%;
    content: '';
    top: 455px; /* Couple extra pixels to ensure overlap on screen scaling */
    background:
        url("data:image/svg+xml,%3Csvg xmlns=%22http://www.w3.org/2000/svg%22 x=%220%22 y=%220%22 viewBox=%220 0 1800 26%22 preserveAspectRatio=%22none%22%3E%3Cpath fill=%22%23fafafa%22 d=%22M900,19.8C594.4,19.8,293.9,13.1,0,0v26h1800V0C1506.1,13.1,1205.6,19.8,900,19.8z%22/%3E%3C/svg%3E")
        no-repeat scroll bottom center/cover;
    z-index: -1;
}

.GlobalFooter {
    background-color: #2e2e2e;
}

.GlobalFooterContent {
    align-items: center;
    display: flex;
    height: 50px;
    justify-content: center;
    margin: 0 auto;
    padding: 0 40px;
    width: 720px;
}

.GlobalFooter-link {
    color: #aaa;
    font-size: 14px;
    text-decoration: none;
}

.GlobalFooter-link:hover {
    color: #eee;
}

.GlobalFooter-link + .GlobalFooter-link {
    margin-left: 20px;
}

.GlobalFooter-logo {
    height: 30px;
    opacity: .8;
    width: 30px;
    /* Improve alignment with rest of footer links. */
    margin-right: -10px;
}

.GlobalFooter-logo:hover {
    opacity: 1;
}

/* Convenient to dump this stuff here. */
strong {
    font-weight: 500;
}

.text-center {
    text-align: center;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}
