.LoginLink {
    display: flex;
    text-decoration: none;
    color: #fff;
    font-size: 20px;
}

.LoginLink:hover {
    text-decoration: underline;
}

.GitHubLogoStatic {
    position: relative;
    left: -7px;
    top: 3px;
}

.StaticContent {
    margin: 0 auto;
    padding: 20px 40px 40px 40px;
    width: 720px;
}

.Hero {
    height: 350px;
    text-align: center;
}

.HeroTitle {
    font-size: 40px;
    font-weight: 300;
    text-align: center;
    line-height: 48px;
    color: #fff;
    margin: 30px 0 60px;
}

.FeatureList {
    margin: 80px 0;
    padding: 0;
    list-style: none;
}

.Feature {
    display: flex;
}

.Feature + .Feature {
    margin-top: 160px;
}

.FeatureImage {
    flex: 0 0 40%;
    color: #ccc;
    justify-content: center;
    align-items: center;
    display: flex;
}

.FeatureImage,
.FeatureCopy {
    flex: 0 0 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.FeatureTitle {
    font-size: 32px;
    font-weight: 300;
    /* $mat-deep-orange(500) */
    color: #ff5722;
    line-height: 46px;
    margin: 0 0 10px 0;
}

.FeatureText {
    font-size: 20px;
    line-height: 36px;
    color: #3D3D3D;
}

.HowTo {
    min-height: 700px;
    position: relative;
}

.HowTo:after {
    background-size: 100%;
    /* Gradient is $mat-orange(600) to $mat-deep-orange(600). */
    background:
        url(../images/background-curves.svg) no-repeat scroll top center/cover,
        linear-gradient(60deg, #fb8c00 0%, #f4511e 100%) no-repeat scroll top center/cover;
    content: '';
    height: 100%;
    position: absolute;
    top: 0;
    transform: rotate(180deg);
    width: 100%;
    z-index: -2;
}

.HowTo:before {
    background:
        url("data:image/svg+xml,%3Csvg xmlns=%22http://www.w3.org/2000/svg%22 x=%220%22 y=%220%22 viewBox=%220 0 1800 26%22 preserveAspectRatio=%22none%22%3E%3Cpath fill=%22%23fafafa%22 d=%22M900,19.8C594.4,19.8,293.9,13.1,0,0v26h1800V0C1506.1,13.1,1205.6,19.8,900,19.8z%22/%3E%3C/svg%3E")
        no-repeat scroll bottom center/cover;
    background-size: 100%;
    content: '';
    height: 50px;
    position: absolute;
    top: -5px; /* Couple extra pixels to ensure overlap on screen scaling */
    transform: rotate(180deg);
    width: 100%;
    z-index: -1;
}

.HowToContent {
    margin: 0 auto;
    padding: 100px 40px;
    width: 720px;
}

.HowToTitle {
    font-size: 40px;
    font-weight: 300;
    text-align: center;
    color: #fff;
    margin: 0 0 30px;
}

.HowToText {
    color: #fff;
    font-size: 20px;
    line-height: 36px;
    text-align: center;
}

.HowToList {
    margin: 0;
    list-style-position: inside;
    padding: 0;
}

.HowToVideo {
    border: 1px solid #ccc;
    display: flex;
    margin: 50px 0;
    width: 100%;
}

.HowToCta {
    text-align: center;
}

.HowToCtaSubtext {
    color: #fff;
    font-weight: 300;
    margin-top: 10px;
}

.HowToCtaSubtext a {
    color: #fff;
    text-decoration: none;
}

.HowToCtaSubtext a:hover {
    text-decoration: underline;
}

.Promotion {
    background-color: #333;
}

.PromotionContent {
    margin: 0 auto;
    padding: 70px 40px;
    text-align: center;
    width: 720px;
}

.PromotionText {
    color: #C4C4C4;
    font-size: 16px;
    line-height: 32px;
    padding: 0 125px;
}

.PromotionLink {
    color: #fff;
    display: inline-block;
    margin-top: 13px;
    text-decoration: none;
}

.PromotionLink:hover {
    text-decoration: underline;
}

.StaticCta {
    align-items: center;
    border-radius: 3px;
    border: 1px solid #FFFFFF;
    box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.0);
    color: #fff;
    display: inline-flex;
    font-size: 20px;
    height: 60px;
    justify-content: center;
    text-decoration: none;
    transition: box-shadow .2s linear;
    width: 250px;
    will-change: box-shadow;
}

.StaticCta:hover {
    box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.3);
}
