/* Home for global CSS (e.g. resets, normalizations). Not scoped. */
body {
    background: #323B43;
    color: #F4F7F9;
    margin: 0;
}

.loading-text {
    text-align: center;
    color: #78838C;
}
