<form
    autocomplete="off"
    class="Form text-center"
    (ngSubmit)="save()"
    #addressForm="ngForm"
    [ngClass]="{'Form--saving': saving}"
>
    <div>
        <md-input-container>
            <input
                mdInput
                [(ngModel)]="newAddress"
                required
                name="newAddress"
            >
            <md-hint
                *ngIf="errorMessage"
                class="ErrorMessage"
            >
                {{ errorMessage }}
            </md-hint>
        </md-input-container>

        @firebot.fundersclub.com
    </div>

    <div class="CardCtas">
        <button
            md-raised-button
            color="primary"
            type="submit"
            [disabled]="!addressForm.form.valid || saving"
        >
            Save
        </button>
        <button
            md-button
            color="primary"
            (click)="cancel()"
            type="button"
        >
            Cancel
        </button>
    </div>
</form>
