.TeamMembers {
    margin: 0;
    padding: 0;
    list-style: none;

    & /deep/ {
        form {
            display: flex;
            align-items: baseline;
        }

        .LoginField {
            flex: 0 0 40%;
        }

        .EmailField {
            transition: flex-basis .3s ease-in-out;
            /* Leave room for Actions and margins. */
            flex-grow: 0;
            flex-shrink: 0;
            /* flex-basis: calc(60% - marginLeft - marginRight - Actions.width) */
            flex-basis: calc(60% - 20px - 10px - 40px);
            margin-left: 20px;
            margin-right: 10px;
        }

        .EmailField--shrunk {
            /* Add additional space for new action buttons. */
            /* flex-basis: calc(60% - marginLeft - marginRight - Actions--expanded.width) */
            flex-basis: calc(60% - 20px - 10px - 80px);
        }

        .Actions {
            transition: width .3s ease-in-out;
            white-space: nowrap;
            width: 40px;
        }

        .Actions--expanded {
            width: 80px;
        }

        .Actions-undo {
            animation: fadeIn .1s .2s linear both;
        }
    }
}
