.EditorWell {
    background-color: #f5f5f5;
    border: 1px solid #eee;
    font-size: 18px;
    font-weight: 500;
    padding: 20px;
    position: relative;
    text-align: center;
}

.EditorIcon {
    align-items: center;
    display: flex;
    /* Need this overflow protection cause of a bug in md-icon. */
    overflow: hidden;
    position: absolute;
    right: 10px;
    top: 0;
    bottom: 0;
}
