<div class="CardIntro">
    <div class="CardIntro-title">
        Purge attachment data?
    </div>
    <div class="CardIntro-subtext">
        GitHub Issues only support <a href="https://help.github.com/articles/file-attachments-on-issues-and-pull-requests/" target="_blank">certain file types as attachments</a>. In order to support all file types, fire hosts attachments you send it. You may delete these stored attachment at any time, but doing so will break all download links in existing Issues.
    </div>
</div>

<div class="CardCtas">
    <button
        md-raised-button
        color="primary"
        type="button"
        (click)="purge()"
        [disabled]="dataDeleted"
    >
        Delete all attachment data
    </button>
    <div
        *ngIf="dataDeleted"
    >
        <br>
        All attachment data has been deleted.
    </div>
</div>
