<form
    (ngSubmit)="save()"
    #emailMapAddForm="ngForm"
>
    <md-input-container class="LoginField">
        <input
            mdInput
            [(ngModel)]="emailMap.login"
            required
            name="login"
            placeholder="GitHub"
        >
        <div mdPrefix>@</div>
        <md-hint
            *ngIf="error?.login"
            class="ErrorMessage"
        >
            {{ error.login }}
        </md-hint>
        <md-hint
            *ngIf="error?.non_field_errors"
            class="ErrorMessage"
        >
            {{ error.non_field_errors }}
        </md-hint>
    </md-input-container>
    <md-input-container class="EmailField">
        <input
            mdInput
            [(ngModel)]="emailMap.email"
            required
            name="email"
            placeholder="Email"
        >
        <md-hint
            *ngIf="error?.email"
            class="ErrorMessage"
        >
            {{ error.email }}
        </md-hint>
    </md-input-container>
    <div class="Actions">
        <span mdTooltip="Add this entry" mdTooltipPosition="above">
            <button
                md-icon-button
                type="submit"
                [disabled]="!emailMapAddForm.form.valid"
            >
                <md-icon>add</md-icon>
            </button>
        </span>
    </div>
</form>
