{% extends 'firebot/base.html' %}
{% load github socialaccount %}

{% block title %}Associate e-mail{% endblock %}

{% block body %}
    <div class="card-block">
        <h4 class="card-title">
            {{ view.repo.full_name }}
        </h4>
        {% if view.associated %}
            <div class="card-text">
                Done! Emails coming from {{ view.associated.email }} will get tagged with {{ view.associated.login|github_profile }}!
            </div>
        {% elif request.user.is_authenticated %}
            <div class="card-text">
                Please confirm you'd like to associate {{ view.msg.from_email }} with the {{ request.user.username|github_profile }}. If you're not {{ request.user.username|github_profile }}, please sign-out and try again.
            </div>
            <form method="post" action="">
                {% csrf_token %}
                <button
                    class="btn btn-primary"
                    type="submit"
                >
                    Continue
                </button>
            </form>
            <p class="card-text">
                <small class="text-muted">
                    You may <a href="{% url 'account_logout' %}?next={{ request.get_full_path }}">log out</a> and try again if needed.
                </small>
            </p>
        {% else %}
            <div class="card-text">
                Before you can associate your e-mail address ({{ view.msg.from_email }}) with your GitHub account, you'll need to login.
            </div>
            <a
                class="btn btn-primary"
                href="{% provider_login_url 'github' process='login' next=request.get_full_path %}"
            >
                Login with GitHub
            </a>
        {% endif %}
    </div>
{% endblock %}
