{% extends 'firebot/base.html' %}
{% load github socialaccount %}

{% block title %}Approve Firebot{% endblock %}

{% block body %}
    <div class="card-block">
        <h4 class="card-title">
            Approve Firebot
        </h4>
        {% if request.user.is_authenticated %}
            {% if request.user.username == view.repo.inviter_login %}
                <p class="card-text">
                    Hello, {{ request.user.username|github_profile }}! You're one step away from enabling Firebot on <a href="{{ view.repo.gh_url }}">{{ view.repo.full_name }}</a>.
                </p>
                <form method="post" action="">
                    {% csrf_token %}
                    <button
                        class="btn btn-primary"
                        type="submit"
                    >
                        Approve Firebot
                    </button>
                </form>
            {% else %}
                <p class="card-text">
                    Hello, {{ request.user.username|github_profile }}! Someone else ({{ view.repo.inviter_login|github_profile }}) added Firebot to <a href="{{ view.repo.gh_url }}">{{ view.repo.full_name }}</a>. Please have them visit this page to complete Firebot setup.
                </p>
                <p class="card-text">
                    <small class="text-muted">
                        You may <a href="{% url 'account_logout' %}?next={{ request.get_full_path }}">log out of Firebot</a> if needed.
                    </small>
                </p>
            {% endif %}
        {% else %}
            <p class="card-text">
                {{ view.repo.inviter_login|github_profile }} recently added Firebot to <a href="{{ view.repo.gh_url }}">{{ view.repo.full_name }}</a>.
            </p>
            <p class="card-text">
                Are you @{{ view.repo.inviter_login }}? If so, please login below to complete setup. Otherwise, please ask @{{ view.repo.inviter_login }} to view this page.
            </p>
            <a
                class="btn btn-primary"
                href="{% provider_login_url 'github' process='login' next=request.get_full_path %}"
            >
                Login with GitHub
            </a>
        {% endif %}
    </div>
{% endblock %}
