{% extends 'firebot/base.html' %}
{% load github socialaccount %}

{% block title %}Approve FireBot{% endblock %}

{% block body %}
    <h1>{{ view.repo.full_name }}</h1>
    {% if request.user.is_authenticated %}
        {% if request.user.username == view.repo.inviter_login %}
            Hello, {{ request.user.username }}!<br/>
            <form method="post" action="">
                {% csrf_token %}
                <button type="submit">Approve FireBot to join {{ view.repo.full_name }}</button>
            </form>
        {% else %}
            Hey, you are logged in as {{ request.user.username|github_profile }} but only {{ view.repo.inviter_login|github_profile }} can approve this invite :(<br/>
            <form method="post" action="{% url 'account_logout' %}?next={{ request.get_full_path }}">
                {% csrf_token %}
                <button type="submit">Sign out and try again</button>
            </form>
        {% endif %}
    {% else %}
        {{ view.repo.inviter_login|github_profile }} has invited me to play in <a href="{{ view.repo.gh_url }}">{{ view.repo.full_name }}</a>.<br/>
        If you are {{ view.repo.inviter_login|github_profile }}, please click <a href="{% provider_login_url 'github' process='login' next=request.get_full_path %}">here</a> to continue. If not, please have them view this page :)<br/>
    {% endif %}
{% endblock %}
