<div class="SectionTitle">
    Welcome to fire!
</div>
<md-card class="SectionCard">
    <div class="CardIntro">
        <div class="CardIntro-title">
            Verify your GitHub
        </div>
        <div class="CardIntro-subtext">
            Before we enable fire on <strong>{{ repository.full_name }}</strong>, we need to verify that your GitHub username
            is <strong>{{ repository.inviter_login }}</strong>. Only <strong>{{ repository.inviter_login }}</strong> may enable fire on this repo.
        </div>
    </div>
    <div class="text-center">
        <a
            md-raised-button
            color="primary"
            href="{{ oAuthUrl }}"
        >
            <img
                class="GitHubLogoInBtn"
                height="16"
                src="../../static/images/github-logo.png"
                width="16"
            >
            Verify Your GitHub
        </a>
    </div>
</md-card>
