<div class="SectionTitle">
    Welcome to firebot!
</div>
<md-card class="SectionCard">
    <div class="CardIntro">
        <div class="CardIntro-title">
            Verify your GitHub
        </div>
        <div class="CardIntro-subtext">
            Before we enable Firebot, we need to verify your GitHub username<br>
            matches the username which originally added Firebot to your repo.
        </div>
    </div>
    <div class="text-center">
        <a
            md-raised-button
            color="primary"
            href="{{ oAuthUrl }}"
        >
            <img
                class="GitHubLogo"
                height="16"
                src="../../static/images/github-logo.png"
                width="16"
            >
            Verify Your GitHub
        </a>
    </div>
</md-card>
