<div class="SectionTitle">
    Welcome to fire!
</div>
<md-card class="SectionCard">
    <div class="CardIntro">
        <div class="CardIntro-title">
            Wrong User
        </div>
        <div class="CardIntro-subtext">
            <strong>@{{ repository.inviter_login }}</strong> add fire to <strong>{{ repository.full_name }}</strong>, but you're logged in as <strong>@{{ user.username }}</strong>. Only <strong>@{{ repository.inviter_login }}</strong> can complete setup.<br>
            <br>
            You may <a href="{{ user.urls.logout }}">logout</a> if necessary.
        </div>
    </div>
</md-card>
